<!DOCTYPE html>
<html>
<head>
  <title>Canchas</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Canchas Disponibles</h1>

  <ul>
    <% canchas.forEach(cancha => { %>
      <li>
        <h2><%= cancha.nombre %></h2>
        <p>Ubicación: <%= cancha.ubicacion %></p>
        <p>Precio: <%= cancha.precio %></p>
        <a href="/canchas/<%= cancha._id %>">Ver detalles y reservar</a> </li>
    <% }); %>
  </ul>

  <a href="/">Volver al inicio</a>
</body>
</html>