<!DOCTYPE html>
<html>
<head>
  <title>App de Pádel</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Bienvenido a la App de Pádel</h1>

  <a href="/canchas">Ver Canchas</a>
  <a href="/reservas">Reservar</a>
  <a href="/usuarios/registro">Registrarse</a>
  <a href="/usuarios/login">Iniciar Sesión</a>

  <script src="/js/script.js"></script>
</body>
</html>